%nav.p-3{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      =link_to root_path do
        Home
    %li.breadcrumb-item
      %a{:href => "#"} 特集一覧
    %li.breadcrumb-item.active{"aria-current" => "page"} 記事名
