.content-custom-class
  .container.card-custom-class.position-relative
    -# .color-box-top.float-end
    .color-box-bottom.float-start.text-center new
    .card
      .row.g-0 
        .col-6
          .card-body 
            .card-title Coffee Beans 
            .card-text ギチャタイニウェットミルは、ケニア中央部のニエリにある有名なギカンダ協同組合の3つのウェットミルのうちの1つです。赤く熟したチェリーは、アンダーパイプ、オーバーパイプ、異物などから分離されます
        .col-6
          %img.card-img-top{:alt => "...", :src => "https://cdn.macaro-ni.jp/image/summary/87/87791/nz38P2MMuNrshYui8gizn4mbyxXXSEX9rzqMIjkF.jpeg?p=medium_wp"}/

          