/* footer
%footer.footer-custom-class
  .text-center
    %img.d-inline-block.align-text-top{:alt => "", :height => "60", :src => "/assets/logo2.png", :width => "60"}/
  %ul.list-group.list-group-flush
    %li.list-group-item.list-customclass Fukusukeとは
    %li.list-group-item.list-customclass オンラインショップ
    %li.list-group-item.list-customclass 特集
    %li.list-group-item.list-customclass サイトマップ
    %li.list-group-item.list-customclass プライバシーポリシー
  .container-fluid.credit-customclass
    %small (c)Fukusuke Coffee 2022