/* footer
%footer.footer-custom-class
  .text-center
    %img.d-inline-block.align-text-top{:alt => "", :height => "60", :src => "/assets/logo2.png", :width => "60"}/
  %ul.list-group.list-group-flush
    %li.list-group-item.list-customclass{style: "background-color: #E3BB98"} Fukusukeとは
    %li.list-group-item.list-customclass{style: "background-color: #E3BB98"} オンラインショップ
    %li.list-group-item.list-customclass{style: "background-color: #E3BB98"} 特集
    %li.list-group-item.list-customclass{style: "background-color: #E3BB98"} サイトマップ
    %li.list-group-item.list-customclass{style: "background-color: #E3BB98"} プライバシーポリシー
  .container-fluid.credit-customclass
    %small (c)Fukusuke Coffee 2022