/* footer
%footer
  %ul.list-group.list-group-flush
    %li.list-group-item.list-customclass Fukusukeとは
    %li.list-group-item.list-customclass オンラインショップ
    %li.list-group-item.list-customclass 特集
    %li.list-group-item.list-customclass サイトマップ
    %li.list-group-item.list-customclass プライバシーポリシー
  .container-fluid.credit-customclass
    %small (c)Fukusuke Coffee 2022