/* navtab
%ul.nav.justify-content-center.navtab-customclass.align-items-end.bg-light.p-3
  %li.nav-item
    %a.nav-link.link-dark{:href => "#"} 商品を選ぶ
  %li.nav-item
    %a.nav-link.link-dark{:href => "#"} 特集
  %li.nav-item
    %a.nav-link.link-dark{:href => "#"} コーヒーの淹れ方
    %li.nav-item
    %a.nav-link.link-dark{:href => "#"} Fukusukeとは

