/* navtab
%ul.nav.justify-content-center.navtab-customclass
  %li.nav-item
    %a.nav-link.active{"aria-current" => "page", :href => "#"} Fukusukeとは
  %li.nav-item
    %a.nav-link{:href => "#"} 使い方
  %li.nav-item
    %a.nav-link{:href => "#"} 読みもの
  %li.nav-item
    %a.nav-link.disabled{"aria-disabled" => "true", :href => "#", :tabindex => "-1"} お買い物