/* navtab
%ul.nav.justify-content-center.navtab-customclass.align-items-end
  %li.nav-item
    %a.nav-link.active{"aria-current" => "page", :href => "#"} Fukusukeとは
  %li.nav-item
    %a.nav-link{:href => "#"} 特集
  %li.nav-item
    %a.nav-link{:href => "#"} 商品一覧
