/* navtab
%ul.nav.justify-content-center.navtab-customclass.align-items-end
  %li.nav-item
    %a.nav-link{:href => "#"} 商品を選ぶ
  %li.nav-item
    %a.nav-link{:href => "#"} 特集
  %li.nav-item
    %a.nav-link{:href => "#"} コーヒーの淹れ方
    %li.nav-item
    %a.nav-link{:href => "#"} Fukusukeとは

