= render "template/navbar"
= render "template/navtab"
/* main
%body.body-customclass
  =render "template/carousel"
  .title-class
    おすすめの商品
  .p-3.d-flex.justify-content-center.align-items-end
    .p-2
      %div{:style => "\r\n  overflow: auto;\r\n  display: flex;\r\n  flex-direction: column;\r\n  justify-content: flex-end;\r\n  align-items: center;\r\n  width: 258.96px;\r\n  background: #FFFFFF;\r\n  border: 1px solid rgba(0, 0, 0, 0.1);\r\n  box-shadow: -2px 10px 5px rgba(0, 0, 0, 0);\r\n  border-radius: 10px;\r\n  font-family: SQ Market, SQ Market, Helvetica, Arial, sans-serif;\r\n  "}
        %img{:alt => "エチオピア", :onerror => "this.style.display='none'", :src => "https://items-images-production.s3.us-west-2.amazonaws.com/files/1eb8e11e59db669c930a711678369f5526dc805d/original.jpeg", :style => "width: 100%;"}/
        %div{:style => "padding: 20px;"}
          %p{:style => "\r\n    font-size: 18px;\r\n    line-height: 20px;\r\n  "} エチオピア
          %p{:style => "\r\n    font-size: 18px;\r\n    line-height: 20px;\r\n    font-weight: 600;\r\n  "} ¥900
          %a#embedded-checkout-modal-checkout-button{"data-url" => "https://square.link/u/OF0hGoMY?src=embd", :href => "https://square.link/u/OF0hGoMY?src=embed", :style => "\r\n    display: inline-block;\r\n    font-size: 18px;\r\n    line-height: 48px;\r\n    height: 48px;\r\n    color: #ffffff;\r\n    min-width: 212px;\r\n    background-color: #F03F51;\r\n    text-align: center;\r\n    box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;\r\n    border-radius: 50px;\r\n  ", :target => "_blank"} 今すぐ購入する
    .p-2
      %div{:style => "\r\n  overflow: auto;\r\n  display: flex;\r\n  flex-direction: column;\r\n  justify-content: flex-end;\r\n  align-items: center;\r\n  width: 258.96px;\r\n  background: #FFFFFF;\r\n  border: 1px solid rgba(0, 0, 0, 0.1);\r\n  box-shadow: -2px 10px 5px rgba(0, 0, 0, 0);\r\n  border-radius: 10px;\r\n  font-family: SQ Market, SQ Market, Helvetica, Arial, sans-serif;\r\n  "}
        %img{:alt => "エチオピア", :onerror => "this.style.display='none'", :src => "https://items-images-production.s3.us-west-2.amazonaws.com/files/1eb8e11e59db669c930a711678369f5526dc805d/original.jpeg", :style => "width: 100%;"}/
        %div{:style => "padding: 20px;"}
          %p{:style => "\r\n    font-size: 18px;\r\n    line-height: 20px;\r\n  "} エチオピア
          %p{:style => "\r\n    font-size: 18px;\r\n    line-height: 20px;\r\n    font-weight: 600;\r\n  "} ¥900
          %a#embedded-checkout-modal-checkout-button{"data-url" => "https://square.link/u/OF0hGoMY?src=embd", :href => "https://square.link/u/OF0hGoMY?src=embed", :style => "\r\n    display: inline-block;\r\n    font-size: 18px;\r\n    line-height: 48px;\r\n    height: 48px;\r\n    color: #ffffff;\r\n    min-width: 212px;\r\n    background-color: #F03F51;\r\n    text-align: center;\r\n    box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;\r\n    border-radius: 50px;\r\n  ", :target => "_blank"} 今すぐ購入する
  .p-3 
    .btn.fw-bold.text-decoration-underline.d-flex.flex-row-reverse 
      ⇨全ての商品を見る
  .title-class
    コーヒーの淹れ方
  .d-flex.justify-content-center.p-5
    .ratio.ratio-16x9
      %iframe{:allowfullscreen => "", :src => "https://www.youtube.com/embed/sv9322owOig", :title => "YouTube video"}
  .p-3
    .btn.fw-bold.text-decoration-underline.d-flex.flex-row-reverse 
      ⇨すべての動画を見る
  .d-flex.justify-content-center.p-5
    .ratio.ratio-16x9
      %iframe{:allowfullscreen => "",  :loading => "lazy", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d104971.40085529347!2d135.71925305655944!3d34.69619275180365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600124a6f59abdcf%3A0xefdd19e14fa97dfc!2sROKUMEI%20COFFEE%20CO.%20TOMIO%20ROASTERY!5e0!3m2!1sja!2sjp!4v1642483314583!5m2!1sja!2sjp", :style => "border:0;"}
= render "template/footer"