@import "colors";

body{
  background-color: $rskyblue;
  font-family: 'Noto Sans JP', sans-serif;
}

// navbar
.navbar-customclass{
background-color: $ryellow;
padding: 10px;
font-family: 'Kanit', sans-serif;
font-weight: bold
};

.navtab-customclass{
  font-family: 'Kanit', sans-serif;
  background-color: white;
}

.nav-link{
  color: $cblue
}

// body

.body-customclass{
background-color: $rskyblue;
word-break: break-all;
}

.main-container-class{
  padding: 10px;
  background-color: $rskyblue;
}

.top-row-class{
  margin-bottom: 20px;
}

.main-customclass{
  margin-top: 20px;
  background-color: $rpink;
  color: black;
  font-weight: 500;
  }

  .card-title-customclass{
    font-size: 1.5rem;
  }
  
.title-class{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align:center;
  padding: 6px 23px;
  font-weight: 700;
  background-color: $rred;
  width: 170px;
  border-radius: 30px;
  font-size: 1.0rem;
  color: white
}

// footer
.list-customclass {
background-color: $rred;
}

.credit-customclass{
  background-color: $rred;
  text-align: center;
}