@import "colors";

body{
  background-color: $white;
}



// navbar
.navbar-customclass{
background-color: $yellow;
padding: 10px;
};

.navtab-customclass{
background-color: $gray;
}

.nav-link{
  color: $black
}

// body

.body-customclass{
background-color: $blue;
word-break: break-all;
}

.main-container-class{
  padding: 10px;
}

.header-customclass{
height: 100px;
background-color: $orange;

}

.top-row-class{
  margin-bottom: 20px;
}

.main-customclass{
  height: 300px;
  background-color: $orange;
  margin-top: 20px;
  }
  
.title-class{
  margin-top: 10px;
  text-align:center;
}

// footer
.list-customclass {
background-color: $yellow;
}