$orange: #E26126; 
$white: #DFD5CC;
$gray: #8E9EA0;

// curiosity
$cyellow: #da9407;
$cblue: #202b4b;
$cpink: #fad8dc;
$cskyblue: #d7ece9;

// retro
$rred: #d83c2d;
$rskyblue: #b3cfcd;
$rpink: #f9e9d1;
$ryellow: #e9a431;