.title-class{
  padding: 6px 23px;
  font-size: 1.3em;
  color: black;
}

.title-class-new{
  padding: 6px 23px;
  font-size: 1.3em;
  color: black;
}

.card-custom-class{
  a{
    text-decoration: none;
    color: black;
  }
  
  a:hover{
    color: $grey;
  }
}