.footer-custom-class{
  background-color: $bage;
  padding: 20px;
}
.list-customclass {
background-color: $bage;
color: black;
}

.credit-customclass{
  text-align: center;
  color: black;
  font-size: 6px;
}