.navbar-customclass{
  color: black;
  // padding: 5px;
  font-family: 'Kanit', sans-serif;
  };

  .nabvar-bland-custom{
    color: black;
    font-size: 1.5em;
  }
  
  .icon{
    font-size: 1.2em;
  }
  
  a .icon{
    color: black
  }
  
  .navtab-customclass{
    font-family: 'Kanit', sans-serif;
    background-color: white;
    height: 100px;
  }
  
  .nav-link{
    color: $grey
  }

  .navbar-toggle{
    z-index: 2;
}

  .navbar-brand-center{
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      text-align:center;
      margin: auto;
      // background-color: white;
  }

  .like-cart{
    z-index: 3;
  }

